;;; public entries -*- mode: plstore -*- 
(("%28%22ruiagr%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0ECQMCdhyl5kQnN17p0sDmAVulDgdL+gsiYSbot4VGHlN9iOxOokL+hj052vfT
8wBbsrMoZaLUOfKD79nvPI4iiFEwB+AxTCOTeKhH0kDZYPavIhPVht7Tgxe9BGzU
gD4dFP6MSMRgfQHOT2oWDl4rXq5DltF/utsBYQ/P5FBlrEaxYFm7higjB1oqIZ5A
gm+Wnrysbz17PyyLwdhB0qYWD6uqzy3HjGQtOtso2ySL5N+hZ8jLGmX6PfFuAh+B
Gkmgr7oo1OQX5p0jkRa01v1eDOzol3GCTI1Mxq02d+VRM7UanmoagTjRmyuMMhcW
Q4Yev1si11cJIhCkTDYhcLgcYEL5iOHTbN9FIS7Wg37kAWfzjcR3vrQeizgD6dlT
qCLDVM4sKbUItw7y+NFjdS8mezgYnskoG8LmtLV6DVQG0XGAdx2VAaYRFIBCuXN7
AkhuvieFbMltuV0jG+4P7nRv9Nw7DHNP1XHKVoG3g05jfi5RZ9mcVrfaBCgmDdt9
qFfAhvd/t9OKGDmWckhDXyhh2Lw4B0NBmNXHI6+yCPPyiAitIxqflLCTbEtIsElr
aTwdKiIftzs=
=KDtj
-----END PGP MESSAGE-----
"